/*
#938da5 Manatee
#def0c9 Tea Green

#e5e9d9
#c8ee1fe1

#fdec6e

#cfdd2f Pear
#4b31cb Purple Heart

#d0dbd3 Tasman
#bc8e1b Nugget

#c1d5ea Spindle
#f7791a Ecstacy

a {
    color:#2d2f45;   
}
*/ 

a {
    list-style-type: none !important;
    text-decoration: none !important;
    color:inherit !important;
}

a:hover {
    list-style-type:none !important;
    text-decoration: none !important;
    color:inherit !important;
}

body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height: 100vh;
    background-image:url('img/1160.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color:inherit;
}

/* .col {
    padding:5px;
} */

button {
    background-color:transparent;
}

.navbar, .btn button {
    background-image: linear-gradient(#5c72ee,#f4b0f7,#c8ee1fb6, #c8ee1f00);
	background: -webkit-linear-gradient(#5c72ee, #f4b0f7,#c8ee1fb6, #c8ee1f00);
    /* background-color:#5c72ee; */
}

.navbar-light .navbar-nav .active >.nav-link , .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:inherit;
}

/* .navbar-light .navbar-brand, .nav-link {
    color:#5c72ee;
    text-shadow:1px 3px 30px #c8ee1fe1;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
} */

/* .navbar-light .navbar-brand, .nav-link:hover {
    color:#c8ee1fe1;
    text-shadow:1px 3px 30px #5c72ee;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
} */

#content {
    display:inline-block;
    align-content: center;
    text-align:center;
    padding: 5, 10;
}

p, a, label, input, textarea, td, th, h4, h2, h1, h3, h5, h6, header, div {
    text-align:center;
    line-height:1.5;
    padding-bottom:10;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

label, input, textarea, header, .navbar-brand, .btn .donate-btn {
    color:#5c72ee;
    text-shadow:1px 3px 30px #c8ee1fe1;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family:'Gugi', 'Modak', 'Pinyon Script', 'Source Sans Pro', 'DotGothic16';
}

label, input, textarea, header, .btn .donate-btn:hover {
    color:#c8ee1fe1;
    text-shadow:1px 3px 30px #f4b0f7;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family:'Pinyon Script', 'Gugi', 'Modak', 'Source Sans Pro', 'DotGothic16';
}

.txt-color {
    color:#5c72ee;
    text-shadow:1px 3px 30px #c8ee1fe1;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family:'Gugi', 'Modak', 'Pinyon Script', 'Source Sans Pro', 'DotGothic16';
}

.font1{
    color:#5c72ee;
    font-family:'Gugi', 'Modak', 'Pinyon Script', 'Source Sans Pro', 'DotGothic16'!important;
    transition: font-family .3141s ease;
}

.font-change:hover {
    font-family:'Pinyon Script', 'Modak', 'Gugi', 'Source Sans Pro', 'DotGothic16'!important;
    color:#c8ee1fe1;
    -moz-transition: all 0.3141s ease-in-out;
    -o-transition: all 0.3141s ease-in-out;
    -webkit-transition: all 0.3141s ease-in-out;
    transition: all 0.3141s ease-in-out;
    transition: font-family .3141s ease;
}

a :hover {
    border-color:#c8ee1fe1;
}

.videoWrapper .html5-video-container {
    position: relative;
    display: block;
    padding-bottom: 56.25%; /* 16:9 */
    width:100vw;
    max-height:100vh;
    text-align:center;
}

iframe .video-stream .htm5-video-player {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;    
    margin:0;
    align-content:center;
}

table, th, td {
    border: none;
  }

ul, li {
   list-style-type: none; 
   text-decoration: none;
   color: inherit;
}

ul {
    display: inline;
    margin:0;
    padding:0;
}

li {
    display:block;
    text-align:center;
}

#listarrows {
    display:inline;
}